* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

/*
*::-webkit-scrollbar {
    display: none;
} 
*/

.logo {
    width: 50px;
    margin-right: .5rem;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.products_not_available {
    margin: 1rem 0rem 0rem 7rem;
}

.product_carousel {
    width: 80%;
}

.carousel-inner {
    margin: 0 auto;
    overflow: hidden;
}

.carousel_image {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.prev, 
.next {
    width: 40px;
    background-color: rgb(33,37,41);
    opacity: 1;
    height: max-content;
    margin: auto;
}

.product_prev_btn, 
.product_next_btn {
    padding: 1.3rem 1.7rem;
}

.product_prev_btn:hover, 
.product_next_btn:hover {
    cursor: pointer;
}

.cart_img {
    width: max-content;
    height: 200px;
    object-fit: contain;
}

.cart_section .cart .cart_summary .cart_summary_heading {
    position: relative;
    padding-bottom: .4rem;
}

.cart_summary .cart_summary_heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 28%;
    height: 5px;
    background-color: #fff;
}

.cart_summary .checkout_buttons {
    position: relative;
}

.cart_summary .checkout_buttons .paytm_btn {
    text-align: left;
    padding-left: 7.5rem;
}

.cart_summary .checkout_buttons .paytm_btn .paytm_logo_svg {
    position: absolute;
    bottom: -19px;
    height: 80px;
    width: 80px;
} 